services:
  # Seu modelo (API)
  modelo-api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    # Comando para iniciar o servidor web na porta 8000
    #command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    # Garante que a API só inicie depois que o banco estiver pronto
    depends_on:
      - banco-dados

  # O Novo Serviço: MongoDB
  banco-dados:
    image: mongo:latest
    ports:
      - "27017:27017"
    # Persistência: salva os dados em um volume gerenciado pelo Docker
    volumes:
      - dados-mongo:/data/db

# Definição do volume (o "HD externo" do container)
volumes:
  dados-mongo: